In [1]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine
import keyring

In [2]:
# using passkey to get password from the sql database administrator
# Please contact Avery or Tolu for access to sql database

passkey = keyring.get_password("HerokuDB", "bca2afa0079c9c")

In [3]:
# Read Csv file into a Pandas dataframe and displaying the first five rows
edf=pd.read_csv('edf.csv')
edf.head()

,Unnamed: 0,Scientific Name,Common Name,Species Code,Population Code,Lead Region,Federal Listing Status,Where Listed
0,0,Abies guatemalensis,Guatemalan Fir (=pinabete),R003,P01,Foreign,Threatened,Wherever found
1,1,Abronia macrocarpa,Large-fruited sand-verbena,Q24E,P01,2,Endangered,Wherever found
2,2,Abutilon eremitopetalum,No common name,Q1SJ,P01,1,Endangered,Wherever found
3,3,Abutilon menziesii,Ko`oloa`ula,Q1SK,P01,1,Endangered,Wherever found
4,4,Abutilon sandwicense,No common name,Q1SL,P01,1,Endangered,Wherever found

In [4]:
# Store sql database path in a variable for writing readable code
data_path = f'mysql://bca2afa0079c9c:{passkey}@us-cdbr-iron-east-02.cleardb.net/heroku_14243cb9cef0409?'

In [5]:
# Create a connection for the sql database in sqlalchemy
engine = create_engine(data_path)

ModuleNotFoundError: No module named 'MySQLdb'

In [17]:
# Read the data from the pandas dataframe to the sql database
cites.to_sql(name='cites', con=engine, if_exists='fail', index=False, index_label=None)