In [3]:
import pandas as pd

In [4]:
url = 'https://awionline.org/content/list-endangered-species'

In [5]:
tables = pd.read_html(url)
tables

[                                                     0  \
 0                                          Common Name
 1                                                Addax
 2                                        Anoa, lowland
 3                                       Anoa, mountain
 4                                Antelope, giant sable
 5                                    Antelope, Tibetan
 6    Argali [All populations except Kyrgyzstan, Mon...
 7        Argali [Kyrgyzstan, Mongolia, and Tajikistan]
 8                                     Armadillo, giant
 9                                Armadillo, pink fairy
 10                                   Ass, African wild
 11                                     Ass, Asian wild
 12                                               Avahi
 13                                             Aye-aye
 14                                            Babirusa
 15                                      Baboon, gelada
 16                                   Bandicoot, barred
 17                                   Bandicoot, desert
 18                            Bandicoot, lesser rabbit
 19                               Bandicoot, pig-footed
 20                                   Bandicoot, rabbit
 21                                             Banteng
 22                    Bat, Bulmer's fruit (flying fox)
 23                                      Bat, bumblebee
 24                               Bat, Florida bonneted
 25                                           Bat, gray
 26                                 Bat, Hawaiian hoary
 27                                        Bat, Indiana
 28                           Bat, little Mariana fruit
 29    Fruit Bat, Mariana (=fanihi, Mariana flying fox)
 ..                                                 ...
 353                                        Whale, blue
 354                                     Whale, bowhead
 355  Whale, false killer [Main Hawaiian Islands Ins...
 356                                     Whale, finback
 357            Whale, gray [Western North Pacific DPS]
 358                  Whale, humpback [Arabian Sea DPS]
 359  Whale, humpback [Cape Verde Islands/Northwest ...
 360              Whale, humpback [Central America DPS]
 361                       Whale, humpback [Mexico DPS]
 362        Whale, humpback [Western North Pacific DPS]
 363              Whale, killer [Southern Resident DPS]
 364                        Whale, North Atlantic right
 365                         Whale, North Pacific right
 366                                         Whale, sei
 367                              Whale, Southern right
 368                                       Whale, sperm
 369                                         Wolf, gray
 370                                Wolf, gray [MN DPS]
 371                                        Wolf, maned
 372                                      Wolf, Mexican
 373                                      Wolf, Mexican
 374                                          Wolf, red
 375                                          Wolf, red
 376   Wombat, Queensland hairy-nosed (incl. Barnard's)
 377                                 Woodrat, Key Largo
 378             Woodrat, riparian (San Joaquin Valley)
 379                                          Yak, wild
 380                                     Zebra, Grevy's
 381                         Zebra, Hartmann's mountain
 382                                    Zebra, mountain

                                                      1           2
 0                                      Scientific Name      Status
 1                                  Addax nasomaculatus  Endangered
 2                               Bubalus depressicornis  Endangered
 3                                     Bubalus quarlesi  Endangered
 4                            Hippotragus niger variani  Endangered
 5                                 Panthalops hodgsonii  Endangered
 6                                           Ovis ammon  Endangered
 7                                           Ovis ammon  Threatened
 8                                   Priodontes maximus  Endangered
 9                               Chlamyphorus truncatus  Endangered
 10                                     Equus africanus  Endangered
 11                                      Equus hemionus  Endangered
 12                        Avahi laniger(=entire genus)  Endangered
 13                        Daubentonia madagascariensis  Endangered
 14                                 Babyrousa babyrussa  Endangered
 15                                Theropithecus gelada  Threatened
 16                              Perameles bougainville  Endangered
 17                                  Perameles eremiana  Endangered
 18                                    Macrotis leucura  Endangered
 19                                 Chaeropus ecaudatus  Endangered
 20                                    Macrotis lagotis  Endangered
 21                                       Bos javanicus  Endangered
 22                                  Aproteles bulmerae  Endangered
 23                         Craseonycteris thonglongyai  Endangered
 24                                   Eumops floridanus  Endangered
 25                                   Myotis grisescens  Endangered
 26                           Lasiurus cinereus semotus  Endangered
 27                                      Myotis sodalis  Endangered
 28                                    Pteropus tokudae  Endangered
 29                        Pteropus mariannus mariannus  Threatened
 ..                                                 ...         ...
 353                              Balaenoptera musculus  Endangered
 354                                 Balaena mysticetus  Endangered
 355                               Pseudorca crassidens  Endangered
 356                              Balaenoptera physalus  Endangered
 357                              Eschrichtius robustus  Endangered
 358                             Megaptera novaeangliae  Endangered
 359                             Megaptera novaeangliae  Endangered
 360                             Megaptera novaeangliae  Endangered
 361                             Megaptera novaeangliae  Threatened
 362                             Megaptera novaeangliae  Endangered
 363                                       Orcinus orca  Endangered
 364                                Eubalaena glacialis  Endangered
 365                                 Eubalaena japonica  Endangered
 366                              Balaenoptera borealis  Endangered
 367                                Eubalaena australis  Endangered
 368                  Physeter catodon (=macrocephalus)  Endangered
 369                                        Canis lupus  Endangered
 370                                        Canis lupus  Threatened
 371                              Chrysocyon brachyurus  Endangered
 372                                Canis lupus baileyi  Endangered
 373                                Canis lupus baileyi          XN
 374                                        Canis rufus  Endangered
 375                                        Canis rufus          XN
 376  Lasiorhinus krefftii(formerly L. barnardi and ...  Endangered
 377                           Neotoma floridana smalli  Endangered
 378                           Neotoma fuscipes riparia  Endangered
 379                          Bos mutus (=grunniens m.)  Endangered
 380                                       Equus grevyi  Threatened
 381                             Equus zebra hartmannae  Threatened
 382                                  Equus zebra zebra  Endangered

 [383 rows x 3 columns],                                                   0  \
 0                                       Common Name
 1                                 Adjutant, greater
 2                             Akekee (honeycreeper)
 3                                     Akepa, Hawaii
 4                                       Akepa, Maui
 5                                    Akialoa, Kauai
 6                                        Akiapolaau
 7                            Akikiki (honeycreeper)
 8                              Albatross, Amsterdam
 9                           Albatross, short-tailed
 10                                   Alethe, Thyolo
 11                           Antpitta, brown-banded
 12                            Antwren, black-hooded
 13                     Blackbird, yellow-shouldered
 14                         Bobwhite, masked (quail)
 15                                  Booby, Abbott's
 16                             Bristlebird, western
 17                      Bristlebird, western rufous
 18                     Bulbul, Mauritius olivaceous
 19                    Bullfinch, Sao Miguel (finch)
 20                             Bush-shrike, Ulugura
 21                            Bushwren, New Zealand
 22                            Bustard, great Indian
 23                                            Cahow
 24                         Capercaillie, Cantabrian
 25          Caracara, crested, (Audubon's) [FL DPS]
 26                                 Cinclodes, royal
 27                             Cockatoo, Philippine
 28                         Cockatoo, salmon-crested
 29                                  Cockatoo, white
 ..                                              ...
 313                             Vireo, least Bell's
 314             Wanderer, plain (collared-hemipode)
 315            Warbler, Aldabra (old world warbler)
 316                       Warbler (wood), Bachman's
 317                 Warbler (wood), Barbados yellow
 318                            Warbler, elfin-woods
 319                  Warbler (wood), golden-cheeked
 320                      Warbler (wood), Kirtland's
 321                   Warbler, Eiao Marquesas reed-
 322  Warbler, nightingale reed, (old world warbler)
 323          Warbler, Rodrigues (old world warbler)
 324                        Warbler (wood), Semper's
 325         Warbler, Seychelles (old world warbler)
 326                              Wattle-eye, banded
 327                                Weaver, Clarke's
 328                               Whipbird, western
 329                              White-eye, bridled
 330                       White-eye, Norfolk Island
 331                       White-eye, Ponape greater
 332                         White-eye, Rota bridled
 333                           White-eye, Seychelles
 334                            Woodpecker, imperial
 335                        Woodpecker, ivory-billed
 336                        Woodpecker, red-cockaded
 337                           Woodpecker, Tristam's
 338                            Wood-quail, gorgeted
 339                               Woodstar, Chilean
 340                            Woodstar, Esmeraldas
 341                          Wren, Guadeloupe house
 342                           Wren, St. Lucia house

                                              1           2
 0                              Scientific Name      Status
 1                           Leptoptilos dubius  Endangered
 2                       Loxops caeruleirostris  Endangered
 3                             Loxops coccineus  Endangered
 4                             Loxops ochraceus  Endangered
 5                       Hemignathus stejnegeri  Endangered
 6                          Hemignathus wilsoni  Endangered
 7                            Oreomystis bairdi  Endangered
 8                      Diomedea amsterdamensis  Endangered
 9             Phoebastria (=Diomedea) albatrus  Endangered
 10                           Alethe choloensis  Endangered
 11                           Grallaria milleri  Endangered
 12                    Formicivora erythronotos  Endangered
 13                          Agelaius xanthomus  Endangered
 14                Colinus virginianus ridgwayi  Endangered
 15                    Papasula (=Sula) abbotti  Endangered
 16   Dasyornis longirostris (=brachypterus l.)  Endangered
 17             Dasyornis broadbenti littoralis  Endangered
 18             Hypsipetes borbonicus olivaceus  Endangered
 19                    Pyrrhula pyrrhula murina  Endangered
 20                           Malaconotus alius  Threatened
 21                            Xenicus longipes  Endangered
 22             Ardeotis (=Choriotis) nigriceps  Endangered
 23                            Pterodroma cahow  Endangered
 24                Tetrao urogallus cantabricus  Endangered
 25                 Polyborus plancus audubonii  Threatened
 26                          Cinclodes aricomae  Endangered
 27                      Cacatua haematuropygia  Endangered
 28                         Cacatua moluccensis  Threatened
 29                                Cacatua alba  Threatened
 ..                                         ...         ...
 313                      Vireo bellii pusillus  Endangered
 314                      Pedionomous torquatus  Endangered
 315                        Nesillas aldabranus  Endangered
 316                        Vermivora bachmanii  Endangered
 317                Dendroica petechia petechia  Endangered
 318                          Setophaga angelae  Threatened
 319                      Dendroica chrysoparia  Endangered
 320                       Dendroica kirtlandii  Endangered
 321           Acrocephalus percernis aquilonis  Endangered
 322                      Acrocephalus luscinia  Endangered
 323                      Bebrornis rodericanus  Endangered
 324                          Leucopeza semperi  Endangered
 325                     Bebrornis sechellensis  Endangered
 326                     Platysteira laticincta  Endangered
 327                            Ploceus golandi  Endangered
 328                     Psophodes nigrogularis  Endangered
 329    Zosterops conspicillatus conspicillatus  Endangered
 330                      Zosterops albogularis  Endangered
 331                          Rukia longirostra  Endangered
 332                         Zosterops rotensis  Endangered
 333                          Zosterops modesta  Endangered
 334                     Campephilus imperialis  Endangered
 335                    Campephilus principalis  Endangered
 336                          Picoides borealis  Endangered
 337               Dryocopus javensis richardsi  Endangered
 338                     Odontophorus strophium  Endangered
 339                          Eulidia yarrellii  Endangered
 340                    Chaetocercus berlepschi  Endangered
 341           Troglodytes aedon guadeloupensis  Endangered
 342               Troglodytes aedon mesoleucus  Endangered

 [343 rows x 3 columns],                                                      0  \
 0                                          Common Name
 1                                  Alligator, American
 2                                   Alligator, Chinese
 3                          Anole, Culebra Island giant
 4                                        Boa, Jamaican
 5                                            Boa, Mona
 6                                    Boa, Puerto Rican
 7                          Boa, Round Island (unnamed)
 8                          Boa, Round Island (unnamed)
 9                             Boa, Virgin Islands tree
 10                              Caiman, Apaporis River
 11                                       Caiman, black
 12   Caiman, broad-snouted [Bolivia, Brazil, Paragu...
 13               Caiman, broad-snouted [Argentina DPS]
 14                                       Caiman, brown
 15                                      Caiman, common
 16                                      Caiman, yacare
 17                      Chuckwalla, San Esteban Island
 18                            Crocodile, African dwarf
 19                  Crocodile, African slender-snouted
 20          Crocodile, American [Non-U.S. populations]
 21                        Crocodile, American [FL DPS]
 22                            Crocodile, Ceylon mugger
 23                              Crocodile, Congo dwarf
 24                                    Crocodile, Cuban
 25                                   Crocodile, mugger
 26                                     Crocodile, Nile
 27                                  Crocodile, Orinoco
 28                               Crocodile, Philippine
 29   Crocodile, saltwater [All populations except P...
 ..                                                 ...
 117                      Tortoise, Madagascar radiated
 118                                            Tracaja
 119                                            Tuatara
 120                          Tuatara, Brother's Island
 121                         Turtle, Alabama redbellied
 122                                Turtle, aquatic box
 123                            Turtle, black softshell
 124            Turtle, bog (=Muhlenberg) [Northen DPS]
 125                          Turtle, bog (=Muhlenberg)
 126                         Turtle, Brazilian sideneck
 127                            Turtle, Burmese peacock
 128                                 Turtle, Cat Island
 129                     Turtle, Central American river
 130                  Turtle, Cuatro Cienegas softshell
 131   Turtle, flattened musk [Black Warrior River DPS]
 132                                  Turtle, geometric
 133                              Turtle, Inagua Island
 134                             Turtle, Indian sawback
 135                           Turtle, Indian softshell
 136                          Turtle, peacock softshell
 137                          Turtle, Plymouth redbelly
 138                                 Turtle, ringed map
 139              Turtle, short-necked or western swamp
 140                                Turtle, Sonoyta mud
 141                   Turtle, South American red-lined
 142                               Turtle, spotted pond
 143                         Turtle, three-keeled Asian
 144                        Turtle, yellow-blotched map
 145                                  Viper, Lar Valley
 146                Whipsnake, Alameda (=striped racer)

                                                      1                 2
 0                                      Scientific Name            Status
 1                           Alligator mississippiensis  Threatened (S/A)
 2                                   Alligator sinensis        Endangered
 3                                    Anolis roosevelti        Endangered
 4                                  Epicrates subflavus        Endangered
 5                          Epicrates monensis monensis        Threatened
 6                                  Epicrates inornatus        Endangered
 7                               Bolyeria multocarinata        Endangered
 8                                   Casarea dussumieri        Endangered
 9                            Epicrates monensis granti        Endangered
 10                      Caiman crocodilus apaporiensis        Endangered
 11                                  Melanosuchus niger        Endangered
 12                                  Caiman latirostris        Endangered
 13                                  Caiman latirostris        Threatened
 14   Caiman crocodilus fuscus (includes Caiman croc...  Threatened (S/A)
 15                        Caiman crocodilus crocodilus  Threatened (S/A)
 16                                       Caiman yacare        Threatened
 17                                   Sauromalus varius        Endangered
 18                     Osteolaemus tetraspis tetraspis        Endangered
 19                             Crocodylus cataphractus        Endangered
 20                                   Crocodylus acutus        Endangered
 21                                   Crocodylus acutus        Threatened

In [6]:
type(tables)

list

In [7]:
mammals_df = tables[0]
mammals_df.columns = ['Common Name', 'Scientific Name', 'Status']
mammals_df.head()

             Common Name            Scientific Name      Status
0            Common Name            Scientific Name      Status
1                  Addax        Addax nasomaculatus  Endangered
2          Anoa, lowland     Bubalus depressicornis  Endangered
3         Anoa, mountain           Bubalus quarlesi  Endangered
4  Antelope, giant sable  Hippotragus niger variani  Endangered

In [8]:
birds_df = tables[1]
birds_df.columns = ['Common Name', 'Scientific Name','Status']
birds_df.head()

             Common Name         Scientific Name      Status
0            Common Name         Scientific Name      Status
1      Adjutant, greater      Leptoptilos dubius  Endangered
2  Akekee (honeycreeper)  Loxops caeruleirostris  Endangered
3          Akepa, Hawaii        Loxops coccineus  Endangered
4            Akepa, Maui        Loxops ochraceus  Endangered

In [9]:
reptiles_df = tables[2]
reptiles_df.columns = ['Common Name', 'Scientific Name', 'Status']
reptiles_df.head()

                   Common Name             Scientific Name            Status
0                  Common Name             Scientific Name            Status
1          Alligator, American  Alligator mississippiensis  Threatened (S/A)
2           Alligator, Chinese          Alligator sinensis        Endangered
3  Anole, Culebra Island giant           Anolis roosevelti        Endangered
4                Boa, Jamaican         Epicrates subflavus        Endangered

In [10]:
amphibians_df = tables[3]
amphibians_df.columns = ['Common Name', 'Scientific Name', 'Status']
amphibians_df.head()

                   Common Name                 Scientific Name      Status
0                  Common Name                 Scientific Name      Status
1                Coqui, golden       Eleutherodactylus jasperi  Threatened
2               Coqui, llanero  Eleutherodactylus juanariveroi  Endangered
3  Frog, California red-legged                  Rana draytonii  Threatened
4     Frog, Chiricahua leopard             Rana chiricahuensis  Threatened

In [11]:
fish_df = tables[4]
fish_df.columns = ['Common Name', 'Scientific Name', 'Status']
fish_df.head()

              Common Name      Scientific Name      Status
0             Common Name      Scientific Name      Status
1       Ala Balik (trout)  Salmo platycephalus  Endangered
2      Angelshark, common    Squatina squatina  Endangered
3     Angelshark, sawback    Squatina aculeata  Endangered
4  Angelshark, smoothback     Squatina oculata  Endangered

In [12]:
clams_df = tables[5]
clams_df.columns = ['Common Name', 'Scientific Name', 'Status']
clams_df.head()

            Common Name            Scientific Name      Status
0           Common Name            Scientific Name      Status
1  Acornshell, southern  Epioblasma othcaloogensis  Endangered
2   Bankclimber, purple    Elliptoideus sloatianus  Threatened
3         Bean, Choctaw       Villosa choctawensis  Endangered
4      Bean, Cumberland           Villosa trabalis  Endangered

In [13]:
snails_df = tables[6]
snails_df.columns = ['Common Name', 'Scientific Name', 'Status']
snails_df.head()

          Common Name             Scientific Name      Status
0         Common Name             Scientific Name      Status
1      Abalone, Black        Haliotis cracherodii  Endangered
2      Abalone, white          Haliotis sorenseni  Endangered
3   Ambersnail, Kanab  Oxyloma haydeni kanabensis  Endangered
4  Campeloma, slender           Campeloma decampi  Endangered

In [14]:
insects_df = tables[7]
insects_df.columns = ['Common Name', 'Scientific Name', 'Status']
insects_df.head()

                  Common Name      Scientific Name      Status
0                 Common Name      Scientific Name      Status
1  Bee, bumble, rusty patched       Bombus affinis  Endangered
2           Bee, yellow-faced  Hylaeus anthracinus  Endangered
3           Bee, yellow-faced   Hylaeus assimulans  Endangered
4           Bee, yellow-faced      Hylaeus facilis  Endangered

In [15]:
arachnids_df = tables[8]
arachnids_df.columns = ['Common Name', 'Scientific Name', 'Status']
arachnids_df.head()

                     Common Name        Scientific Name      Status
0                    Common Name        Scientific Name      Status
1     Harvestman, Bee Creek Cave       Texella reddelli  Endangered
2          Harvestman, Bone Cave         Texella reyesi  Endangered
3  Harvestman, Cokendolpher cave  Texella cokendolpheri  Endangered
4    Meshweaver, Braken Bat Cave        Circurina venii  Endangered

In [16]:
crustaceans_df = tables[9]
crustaceans_df.columns = ['Common Name', 'Scientific Name', 'Status']
crustaceans_df.head()

               Common Name          Scientific Name      Status
0              Common Name          Scientific Name      Status
1     Amphipod, diminutive    Gammarus hyalleloides  Endangered
2   Amphipod, Hay's Spring         Stygobromus hayi  Endangered
3  Amphipod, Illinois Cave    Gammarus acherondytes  Endangered
4     Amphipod, Kauai cave  Spelaeorchestia koloana  Endangered

In [17]:
corals_df = tables[10]
corals_df.columns = ['Common Name', 'Scientific Name', 'Status']
corals_df.head()

               Common Name        Scientific Name      Status
0              Common Name        Scientific Name      Status
1  Coral, (no common name)     Acropora globiceps  Threatened
2  Coral, (no common name)  Acropora jacquelineae  Threatened
3  Coral, (no common name)        Acropora lokani  Threatened
4  Coral, (no common name)     Acropora pharaonis  Threatened

In [18]:
endangered_df = pd.concat([mammals_df, birds_df, reptiles_df, amphibians_df, fish_df, clams_df, snails_df, insects_df, arachnids_df, crustaceans_df, corals_df], ignore_index=True)

In [19]:
endangered_df.set_index('Scientific Name', inplace=True)

In [20]:
endangered_df.head()

                                     Common Name      Status
Scientific Name
Scientific Name                      Common Name      Status
Addax nasomaculatus                        Addax  Endangered
Bubalus depressicornis             Anoa, lowland  Endangered
Bubalus quarlesi                  Anoa, mountain  Endangered
Hippotragus niger variani  Antelope, giant sable  Endangered

In [21]:
endangered_df.loc['Acropora cervicornis']

Common Name    Coral, staghorn
Status              Threatened
Name: Acropora cervicornis, dtype: object

In [22]:
endangered_df.to_csv('animalwelfare.csv')

In [64]:
edf=endangered_df
cdf=pd.read_csv('CITES.csv')
edf=edf.drop(['Scientific Name'])

In [65]:
edf=pd.read_html('https://ecos.fws.gov/ecp0/reports/ad-hoc-species-report?status=E&status=T&status=EmE&status=EmT&status=SAE&status=SAT&fleadreg=on&fstatus=on&finvpop=on&fvipcode=on&fspcode=on&header=All+Listed+Species')

In [66]:
edf=edf[0]

In [68]:
edf.to_csv('edf.csv')