In [1]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine
import keyring

In [2]:
# using passkey to get password from the sql database administrator
# Please contact Avery or Tolu for access to sql database

passkey = keyring.get_password("HerokuDB", "bca2afa0079c9c")

In [3]:
# Read Csv file into a Pandas dataframe and displaying the first five rows
cites=pd.read_csv('edf.csv')
cites.head()

,Year,App.,Taxon,Class,Order,Family,Genus,Importer,Exporter,Origin,Importer reported quantity,Exporter reported quantity,Term,Unit,Purpose,Source
0,2016,I,Aquila heliaca,Aves,Falconiformes,Accipitridae,Aquila,TR,NL,CZ,NaN,1.0,bodies,NaN,T,C
1,2016,I,Aquila heliaca,Aves,Falconiformes,Accipitridae,Aquila,XV,RS,RS,NaN,1.0,bodies,NaN,Q,O
2,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,BE,NO,NaN,NaN,43.0,feathers,NaN,S,W
3,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,BE,NO,NaN,NaN,43.0,specimens,NaN,S,W
4,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,DK,IS,NaN,700.0,NaN,specimens,NaN,S,W

In [4]:
# Store sql database path in a variable for writing readable code
data_path = f'mysql://bca2afa0079c9c:{passkey}@us-cdbr-iron-east-02.cleardb.net/heroku_14243cb9cef0409?'

In [5]:
# Create a connection for the sql database in sqlalchemy
engine = create_engine(data_path)

ModuleNotFoundError: No module named 'MySQLdb'

In [17]:
# Read the data from the pandas dataframe to the sql database
cites.to_sql(name='cites', con=engine, if_exists='fail', index=False, index_label=None)